.mat-form-field {
    width: 85%;
    margin-bottom: 20px;

    textarea {
        height: 80px;
    }
}

.mat-form-field:last-of-type {
    margin-bottom: 10px;
}

.formdiv {
    size: 75%;
    padding: 20px 10px;
    border: 2px solid #3F51B5;
    box-shadow: 0px 0px 3px 1px #3F51B5;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

::ng-deep .success {
    background: rgb(68, 207, 91);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: #000;
}
::ng-deep .normal {
    background-color: rgb(80, 80, 80);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: #FFF;
}
::ng-deep .warn {
    background-color: rgb(175, 0, 38);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: #FFF;
}