
<div class="container">
    <h1>Neues Projekt erstellen</h1>
    <p>
        Über das untenstehende Formular kannst Du ein neues
        Projekt erstellen. Sobald das Projekt erstellt wurde,
        befindet es sich in Phase 1. Dort ist das Projekt nicht 
        öffentlich und Du kannst privat Freunde oder Kommilitonen
        einladen, um in deinem Projekt mitzuwirken. Wenn das Projekt
        danach noch nicht vollständing ist, kannst du es in Phase 2
        verschieben. Sobald dein Projekt sich in Phase 2 befindet, ist
        es öffentlich und jeder kann sich auf dein Projekt bewerben!
    </p>
    <div class="form-container">
        <form action="">
            <label for="projTitel">Projekttitel:</label>
            <input type="text" id="projTitel">

            <label for="projDesc">Beschreibung:</label>
            <input type="text-area" id="projDesc">
        </form>
    </div>
</div>