<div class="container">
  <div class="row">
    <div class="header">
      <h1 display="inline" *ngIf="!this.isLoggedinUser">Profil von {{user.firstName}}</h1>
      <h1 display="inline" *ngIf="this.isLoggedinUser">Mein Profil</h1>
      <button mat-raised-button class="profile-edit" *ngIf="this.isLoggedinUser" color="primary" type="submit"
        [routerLink]="['/profilesettings']">bearbeiten</button>
    </div>
  </div>


  <div class="row">
    <div class="col-8 p-2">
      <div class="content">
        <mat-form-field appearance="legacy">
          <mat-label>E-Mail</mat-label>
          <input type="email" disabled matInput [(ngModel)]="this.user.email" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>Vorname</mat-label>
          <input type="text" disabled matInput [(ngModel)]="this.user.firstName" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>Nachname</mat-label>
          <input type="text" disabled matInput [(ngModel)]="this.user.lastName" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </div>
    </div>
    <div class="col-4 p-2">
      <div class="row">
        <div class="col-12">
          <div class="content"><img src="https://avatars.dicebear.com/api/bottts/{{this.user.id}}.svg" alt=""></div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="content">
            <h2>Beschreibung</h2>
                <p>{{ this.user.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-12 p-2">
      <div class="content">
        <mat-chip-list aria-label="tags">
          <mat-chip *ngFor="let tag of this.user.tags">{{ tag }}</mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </div>

</div>