<div class="container">
  <h1>Profil von {{user.firstName}}</h1>
  <div class="default-flex-container">
    <mat-form-field appearance="legacy">
      <mat-label>E-Mail</mat-label>
      <input type="email" disabled matInput [(ngModel)]="this.user.email" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Vorname</mat-label>
      <input type="text" disabled matInput [(ngModel)]="this.user.firstName" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Nachname</mat-label>
      <input type="text" disabled matInput [(ngModel)]="this.user.lastName" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
  </div>
</div>

