<div class="mat-card">
    <h3>{{ applicant.email }}</h3>
    <img mat-card-avatar src="https://avatars.dicebear.com/api/bottts/{{ applicant.id }}.svg">
    <mat-chip-list class="tags">
        <mat-chip>Ich</mat-chip>
        <mat-chip>bin</mat-chip>
        <mat-chip>cool!</mat-chip>
    </mat-chip-list>
    <div class="buttonbox">
        <button mat-raised-button color="primary" [routerLink] = "['/profile', applicant.id]">Profil ansehen</button>
        <div class="choosebox">
            <button mat-raised-button class="accept" (click)="addMember()">Annehmen</button>
            <button mat-raised-button class="decline" (click)="declineApplication()">Ablehnen</button>
        </div>
    </div>
</div>