<div class="mat-card">
    <h3>Nutzername</h3>
    <img mat-card-avatar src="https://avatars.dicebear.com/api/bottts/12345.svg">
    <mat-chip-list>
        <mat-chip>Ich</mat-chip>
        <mat-chip>bin</mat-chip>
        <mat-chip>cool!</mat-chip>
    </mat-chip-list>
    <div class="buttonbox">
        <button mat-raised-button color="primary">Profil ansehen</button>
        <div class="choosebox">
            <button mat-raised-button class="accept">Annehmen</button>
            <button mat-raised-button class="decline">Ablehnen</button>
        </div>
    </div>
</div>