<div class="container">
  <div class="row">
    <div class="header">
      <h1 display="inline">Meine Profileinstellungen</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-8 p-2">
      <div class="content">

        <mat-form-field appearance="legacy">
          <mat-label>E-Mail</mat-label>
          <input type="email" email="email" #email="ngModel" email="true" matInput required [(ngModel)]="user.email"
            [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <div [hidden]="email.valid || email.pristine" class="alert alert-danger"> Bitte E-Mail eintragen </div>

        <mat-form-field appearance="legacy">
          <mat-label>Vorname bearbeiten
          </mat-label>
          <input type="text" matInput [(ngModel)]="this.user.firstName" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>Nachname bearbeiten
          </mat-label>
          <input type="text" matInput [(ngModel)]="this.user.lastName" [ngModelOptions]="{standalone: true}">
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <mat-label>Passwort</mat-label>
          <input type="password" passwordHtml="password" minlength="5" #passwordHtml="ngModel" matInput
            [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control">
        </mat-form-field>
          <div class="alert alert-danger" *ngIf="passwordHtml.errors?.['minlength']">Das Passwort
            muss mindestens 5 Zeichen besitzen</div>

      </div>
    </div>
    <div class="col-4 p-2">
      <div class="row">
        <div class="col-12">
          <div class="content"><img src="https://avatars.dicebear.com/api/bottts/{{this.user.id}}.svg" alt=""></div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="content">
            <mat-form-field appearance="legacy">
              <mat-label>Beschreibung bearbeiten
              </mat-label>
              <textarea matInput [(ngModel)]="this.user.description" [ngModelOptions]="{standalone: true}"></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12 p-2">
      <div class="content">
        <p>Tags</p>
        <mat-chip-list #chipList aria-label="Tag selection">
          <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable" (removed)="remove(tag)">
            {{tag.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="Neues Keyword hinzufügen..." [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </div>
    </div>
  </div>
  <br>
  <button mat-raised-button style="margin-right:10px" color="primary" type="submit" [disabled]="!email.valid || passwordHtml.errors?.['minlength']" (click)="openDialog()">Änderungen
    übernehmen
  </button>
  <button mat-raised-button color="warn" type="submit" (click)="getUserAgain()">Abbrechen</button>
  