<div class="container">
	<div class="formdiv">
		<h1 style="text-align: center">Login</h1>
		<br>
		<br>
		<mat-form-field appearance="legacy">
			<mat-label>E-Mail</mat-label>
			<input type="email" matInput required [(ngModel)]="loginDto.email" [ngModelOptions]="{standalone: true}">
		</mat-form-field>
		<mat-form-field appearance="legacy">
			<mat-label>Passwort</mat-label>
			<input type="password" matInput required [(ngModel)]="loginDto.password"
				[ngModelOptions]="{standalone: true}">
		</mat-form-field>
		<span>
			<button mat-raised-button color="primary" type="submit" (click)="login()">Einloggen</button>
		</span>
		<br>
		<span>
			Noch kein Konto?
			<a href="/register">Hier Registrieren</a>
		</span>
	</div>
</div>