<div class="container">
  <h1>Neues Konto anlegen</h1>
  <div class="default-flex-container">
    <mat-form-field appearance="legacy">
      <mat-label>E-Mail</mat-label>
      <input type="email" matInput required [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Passwort</mat-label>
      <input type="password" matInput required [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Profilart</mat-label>
      <mat-select [(ngModel)]="types" [ngModelOptions]="{standalone: true}" required>
        <mat-option *ngFor="let type of types" [value]="type">{{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span>
      <button mat-raised-button color="accent" type="submit" (click)="createUser()">Registrieren</button>
      <button mat-raised-button color="accent" type="submit" [routerLink]="['/login']">=>Einloggen</button>
    </span>
  </div>
</div>