$primary: #3F51B5;
$accent: #FF4081;

.container{
    width: 35%;
}

.mat-form-field {
    width: 100%;
    margin-bottom: 20px;

    textarea {
        height: 80px;
    }
}

.mat-form-field:last-of-type {
    margin-bottom: 10px;
}

.formdiv {
    size: 75%;
    padding: 20px 30px;
    border: 2px solid #00c0cd;
    box-shadow: 0px 0px 3px 1px #1ad4e9;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

::ng-deep .success {
    background: #9166e6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: #000;
}
::ng-deep .normal {
    background-color: rgb(80, 80, 80);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: #FFF;
}
::ng-deep .warn {
    background-color: #ad3266;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: #FFF;
}
