<div class="container">
<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Vorname:</label>
    <input 
    [(ngModel)]="user.firstName" [ngModelOptions]="{standalone: true}"
    type="text" class="form-control" id="formGroupExampleInput" placeholder="Vorname">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Nachname:</label>
    <input
    [(ngModel)]="user.lastName" [ngModelOptions]="{standalone: true}"
    type="text" class="form-control" id="formGroupExampleInput2" placeholder="Nachname">
  </div>
  <button type="submit" class="btn btn-primary"
    (click)="createUser()">
    Registrieren
  </button>
</form>
</div>
