.sidenav-container {
  min-height: calc(100% - 64px);
  height: auto;
}

.sidenav {
  width: 220px;
}

// @media (max-width: 768px) {
//   .sidenav {
//     width: 200px;
//   }
// }

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

#nav-logo {
  width: 60px;
  height: auto;
  margin-left: 30px;
}

.home-button:hover {
  cursor: pointer;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #222;

  span {
      margin-left: 20px;
      letter-spacing: 4px;
      color: #fff;
  }
}

.login {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: .9rem;
  float: right;
  position: absolute;
  right: 25px;

  mat-icon {
      margin-right: 5px;
  }
}

.login:hover {
  cursor: pointer;
}

nav ul {
  list-style-type: none;
  padding: 10px;
  margin-top: 44px;

  li {
      display: flex;
      align-items: center;
      margin: 10px 0;
      padding: 6px 0px 6px 16px; 
      border-radius: 4px;
      font-weight: 500;
      text-decoration: none;
      color: #000;

      mat-icon {
          margin-right: 20px;
      }
  }

  li:hover {
      background-color: #7672e1;
      cursor: pointer;
      color: #fff;
  }

}

// .active {
//   background-color: #6046A2;
//   color: #fff !important;
// }

.menu-button {
  color: #6731d3;
  background-color: #fff;
}

.searchbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .search-field {
    width: 50%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF;
    border-radius: 4px;

    #search {
      width: 80%;
      border-radius: 4px 0 0 4px;
      padding: 0;
      border: none;
    }
  
    button#search-submit{
      width: 20%;
      background-color: #7672e1;
      color: #FFF;
      border: none;
      border-radius: 0 4px 4px 0;
      
      mat-icon{
        height: 100%;
      }
    }

  }
}
