.mat-card {
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
    padding: 10px;
    position: relative;
  }

  .mat-card:hover {
    cursor: pointer;
    transform: scale(1.01);
  }

  .mat-standard-chip {
    min-height: 26px;
  }

  mat-chip {
    font-size: 12px;
    padding: 2px 10px;
  }

  .mat-card-avatar {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 50px;
    width: 60px;
  }

.buttonbox {
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    span {
        font-weight: bold;
    }
}

.choosebox {
    button {
        margin: 0px 5px 0px 5px;
    }
}

