<div class="container">
    <h1>Projekt bearbeiten</h1>
    <div class="row">
        <div class="col-9 p-2">
            <div class="content">

                <mat-form-field appearance="legacy">
                    <h2 class="title"> <input type="text" matInput required [(ngModel)]="project.title"
                            [ngModelOptions]="{standalone: true}"></h2>
                    <mat-hint>Bearbeite hier den Titel deines Projekts</mat-hint>
                </mat-form-field>
                <p>Erstellt: {{project?.createdAt?.slice(0,10)}} von {{ project?.createdBy }} </p>
                <mat-form-field hintLabel="Wähle eine Zahl zwischen 2 und 10!" appearance="legacy">
                    <mat-label>Maximale Anzahl Projektmitglieder</mat-label>
                    <mat-select [(ngModel)]="project.maxUser" [ngModelOptions]="{standalone: true}">
                        <mat-option value="2">2</mat-option>
                        <mat-option value="3">3</mat-option>
                        <mat-option value="4">4</mat-option>
                        <mat-option value="5">5</mat-option>
                        <mat-option value="6">6</mat-option>
                        <mat-option value="7">7</mat-option>
                        <mat-option value="8">8</mat-option>
                        <mat-option value="9">9</mat-option>
                        <mat-option value="10">10</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col-3 p-2">
            <div class="content members">
                <p>Members:</p>
                <div class="spinnerbox">
                    <mat-spinner class="track" mode="determinate" value="100" color="accent" strokeWidth="13">
                    </mat-spinner>
                    <mat-progress-spinner mode="determinate" color="accent" [value]="spinnerValue" strokeWidth="13">
                    </mat-progress-spinner>
                </div>
                <p class="member-count">{{project?.currUser}}/{{project?.maxUser}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-2">
            <div class="content">
                <mat-chip-list #chipList aria-label="Tag selection">
                    <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable"
                        (removed)="remove(tag)">
                        {{tag.name}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="Neues Keyword hinzufügen..." [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <h2>Beschreibung</h2>
                <mat-form-field appearance="legacy">
                    <textarea matInput required [(ngModel)]="project.comment"
                        [ngModelOptions]="{standalone: true}"></textarea>
                    <mat-hint>Bearbeite hier deine Projektbeschreibung (min. 150 Zeichen)</mat-hint>
                </mat-form-field>
                <button mat-raised-button color="accent" type="submit" (click)="openDialog()">Änderungen
                    übernehmen</button>

                <button mat-raised-button color="accent" type="submit"
                    [routerLink]="['/project',this.project.id]">Abbrechen</button>
            </div>
        </div>
    </div>
</div>