<div class="container">
    <h1>Deine Favoriten</h1>
    <p>
        Hier findest Du eine Liste aller Projekte, denen Du einen Like gegeben hast.
    </p>
    <hr>
    <br>
    <ul class="list-group">
        <app-liked-projects-item
            *ngFor="let project of displayProjects"
            [project]="project"
            >
        </app-liked-projects-item>
        <span *ngIf="displayProjects.length < 1">Noch hast du kein Projekt favorisiert! Klicke auf das Herz in der Projektliste, um ein Projekt zu liken!</span>
    </ul>
</div>
