<mat-sidenav-container hasBackdrop="false">
  <mat-sidenav [(opened)]="opened">
    <button mat-flat-button (click)="opened=!opened">
      <mat-icon>menu</mat-icon>
    </button>
    <hr>
    <nav>
      <ul>
        <li><a [routerLink]="['/projects']">Projekte finden</a></li> <!-- /projects -->
        <li><a [routerLink]="['/project']">Mein Projekt</a></li>  <!-- /project?project_id=...-->
        <li><a [routerLink]="['']">Mein Profil ("HOME")</a></li> <!-- /user/profile -->
        <li><a [routerLink]="['']">Einstellungen (TBI)</a></li> <!-- /user/settings-->
      </ul>
    </nav>
    <hr>
    <button mat-raised-button color="primary" (click)="logoutUser()">
      {{ userName }} ausloggen
    </button>
  </mat-sidenav>
  <mat-sidenav-content>

    <button id="menu_button" mat-mini-fab color="primary" (click)="opened=!opened">
      <mat-icon>menu</mat-icon>
    </button>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>