
$primary: #3F51B5;
$accent: #FF4081;


mat-sidenav-container {
    height: 100%;
}

mat-sidenav-content,
mat-sidenav {
    padding: 16px;
}

mat-drawer-content {
    padding: 0px;
}

mat-sidenav {
    background-color: #fff;
    width: 280px;
}

nav ul {
    list-style-type: none;
    padding: 0;

    a {
        font-weight: 500;
        text-decoration: none;
        color: #000;
    }

    li {
        margin: 10px 0;
        padding: 6px 0px 6px 32px; 
        border-radius: 4px;
    }

    li:hover {
        background-color: $primary;
        cursor: pointer;

        a {
            color: #fff;
        }
    }

}

#menu_button {
    position: fixed;
}