
<div class="container">
    <h1>Noch hast du kein aktives Projekt</h1>
    <p>
        Sobald du ein eigenes Projekt erstellst oder einem Projekt beigetreten bist
        findest du es hier. Leider bist du bisher kein Teil eines Projekts. Du hast
        nun zwei Möglichkeiten fortzufahren. Fang doch gleich an! 
    </p>
    <h2>Du kannst jetzt:</h2>
    <div class="flex-container">
        <div [routerLink]="['/project/new']" class="show-div primary">
            <h3>Ein neues Projekt erstellen</h3>
        </div>
        <div [routerLink]="['/projects']" class="show-div accent">
            <h3>Einem bestehenden Projekt beitreten</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 p2">
            <div class="content">
                <h2>Bewerbungen</h2>
                <span>Hier findest alle die Projekte, auf die Du dich beworben hast:</span>
                <app-application-carousel-item
                    *ngFor="let application of displayApplications"
                    [application]="application"
                    (successPop)="openSnackBar($event, 'success')"
                    (failPop)="openSnackBar($event, 'warn')"
                >
                </app-application-carousel-item>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 p2">
            <div class="content">
                <h2>Einladungen</h2>
                <span>Wenn Du von Projekten Einladungen bekommen hast, kannst Du sie hier sehen:</span>
                <app-invitation-carousel-item
                    *ngFor="let invite of displayInvitations"
                    [invite]="invite"
                    (successJoin)="openSnackBar($event, 'success')"
                    (failJoin)="openSnackBar($event, 'warn')"
                    (successDecl)="openSnackBar($event, 'success')"
                    (failDecl)="openSnackBar($event, 'warn')"
                >
                </app-invitation-carousel-item>
            </div>
        </div>
    </div>
    <br>
</div>