$primary: #7672e1;
$accent: #c2376c;

.flex-container{
    margin: 60px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 570px) {
    .flex-container {
        flex-direction: column;
        align-items: center;
    }

    .show-div:first-of-type {
        margin-bottom: 20px;
    }
}

.show-div {
    height: 250px;
    width: 45%;
    min-width: 250px;
    padding: 0 20px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
};

.primary {
    background-color: $primary;
};

.primary:hover {
    box-shadow: 0 0 20px 1px $primary;
    background-color: #fff;

    h3 {
        color: $primary;
        text-decoration: underline;
    }
};

.accent {
    background-color: $accent;
};

.accent:hover {
    box-shadow: 0 0 20px 1px $accent;
    background-color: #fff;

    h3 {
        color: $accent;
        text-decoration: underline;
    }
};

.content {
    border-radius: 5px;
    padding: 10px;
    height: 100%;
    //background-color: rgb(250, 250, 250);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}