.like-list-item {
    background-color: #FAC6D8;
    position: relative;
    list-style-type: none;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    margin-bottom: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    mat-icon {
        color: #F94082;
        margin-right: 10px;
    }

    img {
        width: 35px;
        height: 35px;
        background-color: #FFF;
        border: 3px solid #F94082;
        box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        margin-right: 20px;
    }

    button {
        background-color: #F94082;
        color: #FFF;
    }

    .invite {
        position: absolute;
        right: 10px;
    }
}

.like-list-item:hover {
    transform: scale(1.01);
}