<mat-card>
    <div class="item-header">
        <div>
            <mat-card-title>{{ project.title }}</mat-card-title>
            <mat-card-subtitle>{{ dateFormat }}</mat-card-subtitle>
        </div>
        <img mat-card-avatar src={{imgPath}}>
    </div>
    <mat-chip-list aria-label="Fish selection">
        <mat-chip
            *ngFor="let tag of project.tags"
            >{{ tag }}</mat-chip>
    </mat-chip-list>
    <mat-card-content>
        {{ project.comment?.slice(0, 120)+"..." }}
    </mat-card-content>
    <mat-card-actions>
        <div>
            <button mat-raised-button color="primary" [routerLink]="">Jetzt Bewerben</button>
            <h3>{{ project.currUser }}/{{ project.maxUser }}</h3>
        </div>
        <button mat-icon-button aria-label="Like this project" (click)="likeProject()">
            <mat-icon [ngClass]="(isLiked)? 'liked' : 'unliked'">favorite</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
