<div class="container">
    <h1>Projekt</h1>
    <div class="row">
        <div class="col-9 p-2">
            <div class="content">
                <h2 class="title">{{ project?.title }}</h2>
                <p>Erstellt: {{project?.createdAt?.slice(0,10)}} von {{ project?.createdBy }} </p>
                <button mat-raised-button (click)="openDialog()" [ngClass]="{'no-display': !isMember}">Leave Project</button>
                <button mat-raised-button (click)="apply()" [ngClass]="{'no-display': isMember || isApplicant}">Apply to Project</button>
                <span [ngClass]="{'no-display': !isApplicant}">Du hast dich bereits auf dieses Projekt beworben!</span>
                <button mat-icon-button aria-label="Like this project" (click)="likeProject()">
                    <mat-icon [ngClass]="(isLiked)? 'liked' : 'unliked'">favorite</mat-icon>
                </button>
            </div>
        </div>
        <div class="col-3 p-2">
            <div class="content members">
                <p>Members:</p>
                <div class="spinnerbox">
                    <mat-spinner
                        class="track" 
                        mode="determinate"
                        value="100"
                        color ="accent"
                        strokeWidth="13"
                        >
                    </mat-spinner>
                    <mat-progress-spinner
                        mode ="determinate"
                        color ="accent"
                        [value] = "spinnerValue"
                        strokeWidth="13"
                    >
                    </mat-progress-spinner> 
                </div>
                <p class="member-count">{{project?.currUser}}/{{project?.maxUser}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 p2">
            <div class="content phase">
                <h2>Projektphase</h2>
                <mat-stepper linear="isLinear">
                    <mat-step>
                        <ng-template matStepLabel>Private Phase</ng-template>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Public Phase</ng-template>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Acceptance Phase</ng-template>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Launch Phase</ng-template>
                    </mat-step>
                </mat-stepper>
            </div>
        </div>
    </div>
    <div class="row" [ngClass]="{'no-display': !isMember}">
        <div class="col-12 p-2">
            <div class="content">
                <h2>Mitglieder</h2>
                <div class="container members-array">
                    <div class="row">
                        <div class="col-9 member-array-flex">
                            <app-member-card
                                *ngFor="let member of displayMembers"
                                [member]="member"
                                [routerLink] = "['/profile', member.id]"
                            >
                            </app-member-card>
                        </div>
                        <div class="col-3">
                            <div class="member-card professor">
                                <img mat-card-avatar src='https://avatars.dicebear.com/api/bottts/01938.svg'>
                                <span>Professor Name</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-2">
            <div class="content">
                <mat-chip-list aria-label="tags">
                    <mat-chip
                        *ngFor="let tag of project?.tags"
                        >{{ tag }}</mat-chip>
                </mat-chip-list>
                <h2>Beschreibung</h2>
                <p>{{ project?.comment }}</p>
            </div>
        </div>
    </div>
    <div class="row" [ngClass]="{'no-display': !isAdmin}">
        <div class="col-12 p-2">
            <div class="content">
                <h2>Bewerber für dieses Projekt:</h2>
                <div class="applicants">
                    <app-carousel-item
                        *ngFor="let applicant of displayApplicants"
                        [applicant]="applicant"
                        (failAdd)="openSnackBar($event, 'warn')"
                        (failApp)="openSnackBar($event, 'warn')"
                        (successAdd)="openSnackBar($event, 'success')"
                        (successApp)="openSnackBar($event, 'success')"
                    >
                    </app-carousel-item>
                </div>
            </div>
        </div>
    </div>
    <div class="row" [ngClass]="{'no-display': !isMember}">
        <div class="col-12 p-2">
            <div class="content">
                <h2>Leute, denen dieses Projekt gefällt</h2>
                <app-like-user
                    *ngFor="let likeUser of displayLikes"
                    [likeUser]="likeUser"
                    [isAdmin]="isAdmin"
                    (successEvent)="openSnackBar($event, 'success')"
                    (failEvent)="openSnackBar($event, 'warn')"
                >
                </app-like-user>
            </div>
        </div>
    </div>
</div>