h1 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fafafa;
    text-shadow: 0px 1px 6px #7672e1;
}

.content {
    border-radius: 5px;
    padding: 10px;
    height: 100%;
    //background-color: rgb(250, 250, 250);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    .title {
        text-transform: uppercase;
    }
}

.track {
    display: inline;
}

.members {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .spinnerbox {
        margin-bottom: 18px;
    }
}

:host ::ng-deep .track circle{       
    stroke-opacity: 0.3 !important;
}

.member-count {
    position: absolute;
    top: 46%;
    margin: 0;
    font-weight: bold;
    font-size: 25px;
}

.applicants {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
}

.members-array {
    padding: 0;

    .member-array-flex {
        display: flex;
        flex-direction: row;
        border-right: 3px solid #000;
    }

    .prof-flex{
        .member-card {
            background-color: #aaa;
            border-radius: 8px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            margin: 10px;
            padding: 5px;
            width: 100px;
            height: 130px;
            font-size: .8rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        
            img {
                background-color: #FFF;
                width: 80px;
                height: 80px;
                border: 3px solid #999;
                box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.2);
                border-radius: 50%;
                margin-bottom: 5px;
            }
        
            span {
                text-align: center;
                text-transform: uppercase;
            }
        }
        
        .member-card:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
        
        .professor {
            background-color: #aaeded;
        
            img {
                border: 3px solid #00c0cd; 
            }
        }
    }
}

.members-array .professor {
    background-color: #aaeded;

    img {
        border: 3px solid #00c0cd; 
    }
}

.no-display {
    display: none;
}

//Customizing des Material Steppers für die Projektphasen
mat-stepper {
    background: none;
}
::ng-deep .mat-stepper-horizontal .mat-step-header {
    padding: 0px 12px;
    height: auto;
    border-radius: 5px;
}
::ng-deep .mat-horizontal-content-container {
    padding-bottom: 5px !important;
}
::ng-deep .mat-stepper-horizontal-line {
    margin: 0 -8px !important;
}

::ng-deep .success {
    background: #9166e6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: #000;
}
::ng-deep .normal {
    background-color: rgb(80, 80, 80);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: #FFF;
}
::ng-deep .warn {
    background-color: #ad3266;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: #FFF;
}

.liked {
    color: #591dd3;
  }
  
  .liked:hover {
    color: #b193ec;
  }
  
  .unliked {
    color: rgb(61, 61, 61);
  }
  
  .unliked:hover {
    color: #591dd3;
    transform: scale(1.2);
  }

.chat-window {
    border-radius: 5px;
    box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px 10px;
    max-height: 300px;
    overflow-y: scroll;

    .msg {
        max-width: 65%;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
        background-color: #d1bff3;

        .msg-name {
            display: block;
            color: #333;
            margin-bottom: 2px;
            font-size: .8rem;
            font-weight: 700;
        }

        .msg-body {
            color: #000;
        }
    }

    .msg:hover {
        transform: scale(1.01);
    }

    .my-msg {
        background-color: #9166e6;
        margin-left: 35%;

        .msg-name {
            text-align: right;
            display: block;
            color: #EEE;
            margin-bottom: 2px;
            font-size: .8rem;
            font-weight: 700;
        }

        .msg-body {
            color: #FFF;
        }
    }
}

mat-form-field{
    width: 80%;
}

.submit-msg {
    width: 15%;
    margin-left: 5%;
}
