mat-card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
}
mat-card:hover {
    cursor: pointer;
    transform: scale(1.01);
}
mat-card-subtitle {
    margin-bottom: 5px;
}
.mat-standard-chip {
    min-height: 26px;
}
mat-chip {
    font-size: 12px;
    padding: 2px 10px;
}
mat-card-content {
    margin: 5px 0 5px;
}
mat-card-actions {
    padding: 0;
    display: flex;
    justify-content: space-between;

  div {
      display: flex;
      flex-direction: row;
      
    h3 {
        margin-left: 10px;
    }
  }
}
.mat-card-avatar {
    height: 60px;
    width: 60px;
}
.item-header {
    display: flex;
    justify-content: space-between;
}
.mat-raised-button {
  background-color: #7672e1;
  color: white;
}

.liked {
    color: #591dd3;
}

.liked:hover {
    color: #b193ec;
}

.unliked {
    color: rgb(61, 61, 61);
}

.unliked:hover {
    color: #591dd3;
    transform: scale(1.2);
}